<div class="d-flex justify-content-between align-items-end">
    <div>
        <h2>Active Pulse Surveys</h2>
        <p class="text-muted">Here you can view and manage the pulse surveys that are active.</p>
    </div>
    <div>
        <button class="btn bg-accent-violet text-white" (click)="launchNewSurvey()">Launch New Survey</button>
    </div>
</div>

<div class="card border-0">
    <ag-grid-angular class="ag-theme-material h-100 w-100"
        [gridOptions]="gridOptions"
        (gridReady)="gridReady()"
        [paginationPageSize]="10"
        domLayout="autoHeight"
    >
    </ag-grid-angular>
</div>